.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-intro {
  font-size: 18px;
}

.main-body {
  max-width: 560px;
  margin: 0 auto 100px;
}

.main-body img {
  margin: 20px 0;
}

.main-menu {
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
  display: flex;
}

.main-menu li {
  margin-right: 20px;
  cursor: pointer;
}

.main-menu .active {
  text-decoration: underline;
}

.justify-center {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
