.directory-list {
  list-style-type: none;
  padding: 0;

  font-size: 14px;
}

.directory-list-item-header {
  padding: 15px 0;
  border-top: 1px solid #ddd;

  display: flex;
}

.directory-list-item-header h3 {
  margin: 0 0 3px;
  font-size: 14px;
  font-weight: bold;
}

.directory-list-dropdown-arrow, .directory-spacer {
  flex-basis: 15px;
  position: relative;
  bottom: 2px;
}

/* TODO: This sucks, obviously, fix it */
.directory-spacer-3 {
  flex-basis: 3%;
}

.directory-list-name, .directory-body-descriptions {
  flex-basis: 240px;
}

.directory-list-type, .directory-list-last-updated {
  flex-basis: 120px;
}

.directory-body-resources, .directory-body-updates {
  flex-basis: 120px;
}

.directory-list-item:last-child {
  border-bottom: 1px solid #ddd;
}

.directory-list-body {
  display: none;
}

.directory-list-body.active {
  display: flex;
}

.directory-list-body h4 {
  margin: 0 0 3px;
  font-size: 12px;
}

.directory-description-snippet {
  margin-bottom: 15px;
}
