.which-projects-header {
  margin: 15px 0 15px 27px;
  cursor: pointer;
}

.which-projects-header h4 {
  font-weight: normal;
  display: inline;
  margin-left: 10px;
}

.which-projects-body {
  margin-left: 27px;
  display: none;
}

.which-projects-body.active {
  display: block;
}

.directory-list {
  font-size: 14px;
}

.directory-list-item-header {
  padding: 15px 0;
  border-top: 1px solid #ddd;

  display: flex;
}

.directory-list-item-header h3 {
  margin: 0 0 3px;
  font-size: 14px;
  font-weight: bold;
}

.directory-list-dropdown-arrow {
  cursor: pointer;
}

.directory-list-dropdown-arrow, .directory-spacer {
  flex-basis: 15px;
  position: relative;
  bottom: 2px;
}

/* TODO: This sucks, obviously, fix it */
.directory-spacer-3 {
  flex-basis: 3%;
}

.directory-list-name, .directory-body-descriptions {
  padding: 0 15px;
  flex-basis: 290px;
}

.directory-list-type, .directory-body-resources {
  padding: 0 15px;
  flex-basis: 250px;
}

.directory-body-resources ul li {
  margin-bottom: 8px;
}

.directory-body-resources iframe, .directory-body-resources video {
  vertical-align: text-top
}

.directory-list-last-updated, .directory-body-updates {
  padding: 0 15px;
  flex-basis: 170px;
}

.directory-list-item:last-child {
  border-bottom: 1px solid #ddd;
}

.directory-list-body {
  display: none;
}

.directory-list-body.active {
  display: flex;
}

.directory-list-body h4 {
  margin: 0 0 3px;
  font-size: 12px;
}

.directory-description-snippet {
  margin-bottom: 15px;
}
