@font-face {
  font-family: 'Flaco';
  src: url('./fonts/flaco/Flaco-Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Flaco", sans-serif;
}
